.scratch-card-container {
    text-align: center;
    margin: 20px;
  }
  
  .title {
    margin-bottom: 30px;
  }
  
  .lives-container {
    margin-bottom: 30px;
  }
  
  .reset-button {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 30px !important;
    z-index: 100 !important;
  }
  
 
  
  .reward-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
}

  .scratch-card-wrapper {
  
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .scratch-card-canvas {
    margin-left: auto;
    margin-right: auto;
  }

  .ScratchCard__Canvas{
    position: absolute;
    top: 0px;
    z-index: 1;
    left: 0px;
  }